SA实习三/hx_SA3/WebContent/wsdl/aliyun_mail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://hx_SA3" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://hx_SA3" xmlns:intf="http://hx_SA3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://hx_SA3" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendEmailBatch">
    <complexType>
     <sequence>
      <element name="_url_1" type="xsd:string"/>
      <element name="_url_2" type="xsd:string"/>
      <element name="_url_3" type="xsd:string"/>
      <element name="_payload" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendEmailBatchResponse">
    <complexType>
     <sequence>
      <element name="sendEmailBatchReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendEmail">
    <complexType>
     <sequence>
      <element name="_url" type="xsd:string"/>
      <element name="_payload" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendEmailResponse">
    <complexType>
     <sequence>
      <element name="sendEmailReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateEmailAddress">
    <complexType>
     <sequence>
      <element name="url" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateEmailAddressResponse">
    <complexType>
     <sequence>
      <element name="validateEmailAddressReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendEmailResponse">

      <wsdl:part element="impl:sendEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendEmailBatchRequest">

      <wsdl:part element="impl:sendEmailBatch" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateEmailAddressResponse">

      <wsdl:part element="impl:validateEmailAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateEmailAddressRequest">

      <wsdl:part element="impl:validateEmailAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendEmailRequest">

      <wsdl:part element="impl:sendEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendEmailBatchResponse">

      <wsdl:part element="impl:sendEmailBatchResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="aliyun_mail">

      <wsdl:operation name="sendEmailBatch">

         <wsdl:input message="impl:sendEmailBatchRequest" name="sendEmailBatchRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendEmailBatchResponse" name="sendEmailBatchResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendEmail">

         <wsdl:input message="impl:sendEmailRequest" name="sendEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendEmailResponse" name="sendEmailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validateEmailAddress">

         <wsdl:input message="impl:validateEmailAddressRequest" name="validateEmailAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateEmailAddressResponse" name="validateEmailAddressResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="aliyun_mailSoapBinding" type="impl:aliyun_mail">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendEmailBatch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendEmailBatchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendEmailBatchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validateEmailAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateEmailAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateEmailAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="aliyun_mailService">

      <wsdl:port binding="impl:aliyun_mailSoapBinding" name="aliyun_mail">

         <wsdlsoap:address location="http://localhost:8080/hx_SA3/services/aliyun_mail"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
